* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: luckiest guy;
    src: url(../fonts/LuckiestGuy-Regular.ttf);
}

/* BASE */

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.rtl {
    direction: rtl;
}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}

/* HEADER */

header {
    background-color: lightsalmon;
    color: white;
    padding: 1rem;
}

.logo {
    font-family: luckiest guy, fantasy;
    font-size: 2rem;
}

.logo span {
    color: #c2185b;
}

header li {
    display: inline;
    margin-inline-start: 1rem;
}

header li:not(:last-child) {
    border-inline-end: 1px solid grey;
    padding-inline-end: 1rem;
}

header li a {
    color: white;
    font-weight: bold;
}

header li a:hover {
    color: #c2185b;
}

.btn-menu {
    visibility: hidden;
}

/* FOOTER */

footer {
    flex-direction: column;
    background-color: lightsalmon;
    height: 150px;
    color: white;
}

footer .logo {
    padding-bottom: 10px;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* MOBILE */

@media (max-width: 550px) {
    .btn-menu {
        cursor: pointer;
        visibility: visible;
        font-size: 3rem;
        border: none;
        background-color: lightsalmon;
    }
    .nav-bar {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
        height: 100vh;
        background-color: rgba(90, 87, 87, 0.6);
        transform: translateX(100%);
        transition: transform 1s;
    }
    .nav-bar li {
        padding: 2rem 4rem 2rem 1rem;
        border-right: none;
    }
    .menu-open .nav-bar {
        z-index: 2;
        transform: translateX(0);
    }
    .menu-open .screen {
        background-color: rgba(146, 146, 146, 0.5);
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
    }
}