/* MAIN */

.title {
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    margin: 20px 0;
    background-color: lightgray;
}

.meme-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-gap: 10px;
    margin: 1rem;
    justify-content: center;
}


@media (max-width: 550px) {
    .meme-gallery {
        grid-template-columns: 500px;
    }
}