* {
    box-sizing: border-box;
}

/* FONTS */

@font-face {
    font-family: luckiest guy;
    src: url(../fonts/LuckiestGuy-Regular.ttf);
}

/* BASE */

body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

img {
    cursor: pointer;
}

button {
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
}


/* HEADER */

header {
    background-color: lightsalmon;
    color: white;
    padding: 1rem;
}

.logo {
    font-family: luckiest guy, fantasy;
    font-size: 2rem;
}

.logo span {
    color: #c2185b;
}

header li {
    display: inline;
    margin-left: 1rem;
}

header li:not(:last-child) {
    border-right: 1px solid grey;
    padding-right: 1rem;
}

header li a {
    color: white;
    font-weight: bold;
}

header li a:hover, header li a:active {
    color: #c2185b;
}

.btn-menu {
    visibility: hidden;
}


/* MAIN */

/* gallery */



.search-container {
    font-size: 1.5rem;
    margin: 1rem;
}

.search-field {
    display: inline;
}

.mode-keywords {
    margin: 20px;
}

.mode-keywords:hover {
    cursor: pointer;
}

.more-keywords {
    display: none;
    color: gray;
    cursor: pointer;
}
.search-container input {
    font-size: 1.4rem;
    border: none;
    border-bottom: 1px solid black;
    outline: none;

}
.search-container .icon-search {
    width: 1.5rem;
}
.images-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    grid-gap: 10px;
    margin: 1rem;
}
.gallery .image {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.gallery .image:hover {
    border: 5px solid #c2185b;
}


/* editor */

.meme-container {
    padding: 1rem;
    background-color: lightgray;
}
.meme-section {
    display: none;
}

.editor-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

#text {
    font-size: 1.4rem;
    border-radius: 10px;
    margin: 10px;
}

.icon {
    width: 3rem;
    height: auto;
    padding: 8px;
    background-color: white;
    border-radius: 10px;
}

.icon:hover {
    transform: scale(1.1, 1.1);
}
.font-and-color {
    display: inline-flex;
    align-self: flex-start;
    margin-left: 2rem;
}

.color {
    opacity: 0;
    cursor: pointer;
}
.color-picker {
    margin: 0 10px;
}

.color.stroke-color, .color.fill-color{
    height: 3rem;
    width: 3rem;
}
.stroke-color {
    position: absolute;
}

.fill-color {
    position: absolute;
    margin-left: 3.3rem;
}

#font-family {
    font-size: 1.1rem;
    border-radius: 8px;
    padding: 2px;
    font-family: Impact;
    outline: none;
}

.sticker {
    width: 4rem;
    margin-top: 1rem;
}
.sticker:hover {
    transform: scale(1.2,1.2);
}

.load-container {
    padding: 20px;
    padding-top: 50px;
}

.download, .share, .save {
    margin: 0.4rem;
}

.download:active, .share:active, .save:active {
    color: #c2185b;
}

.share {
    display: inline;
}

.share .btn, .save, .download {
    padding: 8px;
    background-color:  lightsalmon;
    color: white;
    font-size: 1rem;
    border-radius: 8px;
    border: none;
    box-shadow: 2px -2px 2px 0px rgba(0,0,0,0.75);
}

/* FOOTER */

footer {
    flex-direction: column;
    background-color:lightsalmon;
    height: 150px;
    color: white;
}

footer .logo {
    padding-bottom: 10px;
}

/* HELPERS */

.flex {
    display: flex;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.clean-list {
    list-style: none;
    margin: 0;
    padding: 0;
}


/* MOBILE */

@media (max-width: 550px) {
    body {
        width: 100%;

    }
    .btn-menu {
        cursor: pointer;
        visibility: visible;
        font-size: 3rem;
        border: none;
        background-color: lightsalmon;
        
    }
    .nav-bar {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        cursor: pointer;
        z-index: 1;
        height: 100vh;
        background-color: rgba(90, 87, 87, 0.6);
        transform: translateX(100%);
        transition: transform 1s;
    }

    .nav-bar li {
        padding: 2rem 4rem 2rem 1rem;
        border-right: none;
        
    }
    .menu-open .nav-bar {
        z-index: 2;
        transform: translateX(0);
    }
    .menu-open .screen {
        background-color: rgba(146, 146, 146, 0.5);
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        cursor: pointer;
        visibility: visible;
        opacity: 1;
    }
    .mode-keywords:not(:first-child):not(:nth-child(2)):not(:nth-child(3))  {
       display: none;
    }
    .more-keywords {
        display: block;
    }
 
    .images-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .gallery-container {
        position: relative;
    }

    .gallery .image {
        width:100%;
        height: auto;
    }
  
    .meme-container {
        flex-direction: column;
    }
    canvas {
        margin: 0 auto;
        width: 100%;
    }
}